extends layout

block content
  h4(style='color: red; margin: 5px; font-size: 2vw;') data
  form(action='/' method='post')
    input#head(type='color' name='head' value='#e66465')
    label(for='head')   Choose Color #{data}
    br
    button#head(type='submit'  value='#e66465') Save
