
-var arrimg = ["/images/twitter.svg","/images/gmail.svg","/images/instagram.svg","/images/facebook.svg","/images/whatsapp.svg"]
- var d = 0

.container(style="padding : 0; width:470px")
   each i in imgs
    .mySlides.border.mycard
        img(src=i style='width:100%; height:300px')
    a.prev(onclick='plusSlides(-1)') ❮
    a.next(onclick='plusSlides(1)') ❯
   .myrow(style="direction:ltr; overflow: hidden;")
     each i in arrimg
        - d++
        img.center.demo.cursor.mycard(src = i style='width:150px; height:150px; margin:10px 10px 10px 1px; padding:5px'  onclick=`currentSlide(${d})`)
    
        

     

style.
  body {
  font-family: Arial;
  margin: 0;
  }
  * {
  box-sizing: border-box;
  }
  img {
  vertical-align: middle;
  }
  .container {
  position: relative;
  }
  .mySlides {
  display: none;
  }
  .cursor {
  cursor: pointer;
  }
  .prev,
  .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
  
  }
  /* Position the "next button" to the right */
  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  }
  /* Number text (1/3 etc) */
  .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  }
  /* Container for image text */
  .caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  }
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
  /* Six columns side by side */
  .column {
  float: left;
  width: 16.66%;
  }
  /* Add a transparency effect for thumnbail images */
  .demo {
  opacity: 0.6;
  }
  .active,
  .demo:hover {
  opacity: 1;
  }
