.header
    .col-1
    img.col-2.logo(src='/images/logo.png')
    .col-5(style='height: 40px; display: flex; margin: 20px 0px;')
      .btn.searchbtn
        | &#x627;&#x628;&#x62D;&#x62B;
      input
    .col-4.phone_num.windows
      | 41432545321847 +
      img(src='/images/whatsapp.svg' height='23px' width='23px' style='margin-right: 10px;')
    .phone_icon.phone
      div
.tabContainer
    .col-1
    .phone.listicon(style='cursor: pointer;')
      img(src='/images/list.svg' height='30px' width='30px' style='margin-right: 10px;')
    .btn.tabs.windows.textshadow(style="padding-right: 0;")  ماركات السيارات
    .btn.tabs.windows.textshadow &#x627;&#x644;&#x634;&#x631;&#x643;&#x627;&#x62A; &#x627;&#x644;&#x645;&#x635;&#x646;&#x639;&#x629;
    .btn.tabs.windows.textshadow &#x627;&#x644;&#x62A;&#x635;&#x646;&#x64A;&#x641;&#x627;&#x62A;
    .btn.tabs.textshadow.menu &#x645;&#x646;&#x62A;&#x62C;&#x627;&#x62A; arabdiag
    .btn.tabs.textshadow.menu software
    .btn.tabs.textshadow.menu &#x627;&#x644;&#x643;&#x648;&#x631;&#x633;&#x627;&#x62A;
//- div(style='height:30px')